<article class="flex flex-col items-center justify-center gap-8 text-white md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
      <p class="flex text-pretty text-xl">
        Hola!, mi nombre es Agustín Nicolás Mancini vivo en Buenos Aires Argentina
        y soy desarrollador web Full Stack, pero me especializo en Front-End.
      </p>

      <p class="flex text-pretty max-w-[680px] text-xl">
        Soy una persona dispuesta a aprender, a ayudar y sobre todo a mejorar como profesional. 
        No tengo problemas al trabajar en grupo e intento siempre estar bien comunicado con mis compañeros para lograr el mejor resultado posible.        
      </p>
  
      <p class="flex text-pretty text-xl">
        Tengo experiencia realizando proyectos full stack, bases de datos noSql, y landing pages.
      </p>
    </div>
  
  </article>