

<span class="bg-purple-100 text-purple-800 max-[550px]:text-xs max-[484px]:text-[10px] max-[395px]:text-[9px] text-sm font-medium me-2 px-2.5 py-0.5 max-[395px]:py-0 max-[395px]:px-1 rounded-full dark:bg-purple-900 dark:text-purple-300">
    <slot/>
</span>