<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class= "rounded-full w-[70px] h-[70px] max-[484px]:size-[50px]" src="/1706717902648.png" alt="agustin photo">

    <nav class="flex flex-row gap-x-4 lg:gap-x-10 opacity-80 max-[480px]:text-sm text-white">
        <a href="#top">Inicio</a>
        <a href="#about-me">Acerca de mí</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact-me">Contactame</a>
    </nav>
</header>